$first-color: #b9d8c2;
$second-color: #9ac2c9;
$third-color: #4a5043;
$fourth-color: #ffcb47;
$fontSize: 16px;
$fontFamily: "Times New Roman", Times, serif;
$borderRadius: 25px;
$border: 1px solid blue;
$border2: 1px solid;
